// COLORS //
$color-black: #000;
$color-white: #fff;
$color-blue-violet: #5C54B9;
$color-grey: #ccc;

// FONTS //
$ff: "Roboto";

// FUNCTIONS //
 @function strip-unit($num) {
   @return $num / ($num * 0 + 1);
 }

 @function rem($num) {
   @return (strip-unit($num) / 15) * 1rem;
 }

// VARIABLE //
$base: rem(4px);

// BREAKPOINTS //
$breakpoint-md: 768px;

// CONTAINER //

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 500px;
}
